# Log
/source/log/
!/source/log/.htaccess
!/source/log/oxdebugdb_skipped.sql

# Export
/source/export/
!/source/export/.gitkeep

# Temporary files
/source/tmp/
!/source/tmp/.htaccess

# Composer
/source/vendor/

# Bower
/source/bower_components/

# Testing library
/source/test_config.yml
/source/Services/

# Docker Logs
/docker/apache2logs

# IDE
/.idea/

# OS
.DS_Store
